<!DOCTYPE html>
<html>
  <%- include('../includes/header.ejs', {title: 'Location' }) %>
  <body>
    <header class="About">
      <%- include('../includes/navigation.ejs') %>
    </header>
    <section class="section-features js--section-features" id="features">
      <div class="row">
        <h2 style="text-align: center">Reach out us @</h2>
      </div>
      <div class="row js--wp-1">
        <div class="col span-1-of-2 box">
          <p>
            <img
              src="resources/img/About_Image.jpg"
              alt="Omnifood logo"
              class="logo"
            />
          </p>
        </div>
        <div class="col span-1-of-2 box">
          <h1>Location</h1>
          <p>
            Joining a residential college at Murray State is like joining a
            team. Every Racer who lives on campus will join one of the
            residential colleges and become a part of that college's tight-knit
            community. Each college has its own crest, colors and mascot, which
            are points of pride for every Racer. The community camaraderie and
            support is plain to see throughout the entirety of Murray State's
            campus and is evident in every residential college event. Soon, you,
            too will be sporting your college's colors with pride!
          </p>
        </div>
      </div>
    </section>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/scripts.ejs') %>
  </body>
</html>
